# app

# https://git-scm.com/docs/gitignore
# files
dclm-*
dles-*
dmt-*
dtc-*
gck-*
bld-*
.cache*
**/*.env*
**/.DS_Store*
ops/k8s/app.yml
ops/k8s/ing.yml
ops/k8s/hpa.yml
ops/k8s/minion.yml
ops/k8s/secret.yml

# folders
_
